/* Color Variables */

:root {
    --orange: hsl(25, 97%, 53%); /* button and hover state background-color */
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%); /* text color */
    --darkGrey: hsl(215, 25%, 14%); /* card background-color */
    --darkBlue: hsl(213, 19%, 18%); /* icon and rating background-color */
    --veryDarkBlue: hsl(216, 12%, 8%); /* Background-color */

    /* ColorGradient */

    --color1: #232A34;
    --color2: #212832;
    --color3: #202731;
    --color4: #1F2630;
    --color5: #1E252F;
    --color6: #1C232D;
    --color7: #19202A;
    --color8: #171E28;
   


}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: 'Overpass', sans-serif;
    font-weight: 400; 

}

.main {
    width: 100%;
    max-width: 327px;
    height: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(var(--darkGrey), var(--darkGrey));
    /* background-color: var(--darkGrey); */
    border-radius: 15px;
}

/* Rating state start */

.star_icon_container {
    width: 100%;
    max-width: 40px;
    height: 40px;
    margin: 24px 0 0 24px;
    background-color: var(--darkBlue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star_icon_mobile {
    overflow: visible;
    width: 15px;
    height: 14px;
}

.star_icon_desktop {
    display: none;
}

.rating_header {
    margin-top: 18px;
    margin-left: 24px;
    margin-bottom: -4px;
    font-size: 23.7px;
    font-weight: 700;
    color: var(--white);
    
}

.rating_paragraph {
    margin-left: 24px;
    margin-bottom: 28px;
    color: var(--lightGrey);
    font-size: 14px;
    line-height: 22px;
    width: 89%;
}

.rating_container {
    margin-left: 24px;
    margin-bottom: 21px;
}

.rating_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rating_choice {
    margin-right: 19px;
    margin-bottom: 4px;
    float: left;
    width: 100%;
    max-width: 41px;
    height: 42px;
    background-color: var(--darkBlue);
    color: var(--mediumGrey);
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 2px;
    padding-top: 5px;
    font-weight: 700;
    transition: 100ms ease-in-out;
}

.rating_choice:hover {
    background-color: var(--orange);
    color: var(--white);
}

.button_container {
    display: flex;
    justify-content: center;
}

.submit_btn {
    width: 100%;
    max-width: 279px;
    height: 45px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 25px;
    padding-top: 4px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.submit_btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.hidden {       /* class used to hide content for switching pages */
    display: none;
    opacity: 0;
}

/* Rating state end */

/* Thank you state start */
#thanks_content_container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.submit_img_mobile {
    width: 100%;
    max-width: 143px;
    height: 96px;
    margin: 34px auto 23px auto;
    position: relative;
    left: 1px;
}

.submit_img_desktop {
    display: none;
}

.rating_feedback_container {
    margin: 0 auto;
    width: 168px;
    height: 33px;
    background-color: var(--darkBlue);
    border-radius: 25px;
    color: var(--orange);
    position: relative;
    left: 2px;
}

.thanks_header {
    margin-top: 27px;
    margin-bottom: 11px;
    color: var(--white);
    font-size: 23.5px;
}

.thanks_paragraph {
    margin: 0 auto;
    color: var(--mediumGrey);
    font-size: 14px;
    width: 92%;
    line-height: 22px;
}


/* Thank you state end */

/* Media Query */

/* Large devices(laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main {
        max-width: 412px;
        height: 417px;
        border-radius: 31px;
    }

    /* Rating state start */

    .star_icon_container {
        margin: 32px 0 0 32px;
        max-width: 48px;
        height: 48px;
    }

    .star_icon_mobile {
        display: none;
    }

    .star_icon_desktop {
        display: block;
        padding-top: 1px;
    }

    .rating_header {
        margin-top: 33px;
        margin-bottom: -6px;
        margin-left: 32px;
        font-size: 27.7px;
    }

    .rating_paragraph {
        margin-left: 32px;
        margin-bottom: 27px;
        font-size: 15px;
        line-height: 24px;
        width: 88%;
    }

    .rating_container {
        margin-left: 32px;
    }

    .rating_choice {
        width: 100%;
        max-width: 51px;
        height: 51px;
        margin-right: 21.3px;
        padding-right: 0px;
        font-size: 17px;
        padding-top: 2px;
    }

    .rating_2 {
        padding-left: 1px;
    }

    .rating_3 {
        padding-left: 3px;
    }

    .rating_5 {
        position: relative;
        left: 1px;
    }

    .submit_btn {
        max-width: 343px;
    }

    /* Rating state end */

    /* Thank you state start */
    
    .submit_img_mobile {
        display: none;
    }

    .submit_img_desktop {
        display: block;
        width: 100%;
        max-width: 162px;
        height: 108px;
        margin: 44px auto 31px auto;
        position: relative;
        left: -3px;
    }

    .rating_feedback_container {
        margin: 0 auto 8px auto;
        width: 193px;
        height: 32px;
        background-color: var(--darkBlue);
        border-radius: 25px;
        color: var(--orange);
        position: relative;
        left: 1px;
        top: 1px;
    }

    .thanks_header {
        margin-top: 27px;
        margin-bottom: 11px;
        color: var(--white);
        font-size: 27.5px;
        position: relative;
        left: 1px;
        top: 1px;
    }

    .thanks_paragraph {
        width: 83%;
        font-size: 15px;
        position: relative;
        top: 0px;
        left: -4px;
        line-height: 23.5px;
    }

    /* Thank you state end */



}